.filterCard {
    display: flex;
    padding: 10px;
    border-radius: 5px;

    background-color: #fff;

    img {
        margin-right: 10px;
    }
}

.selectedFilters {
    flex-grow: 1;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.selectedFiltersContainer {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 24px;
}

.selectedFiltersTitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;    
}

.cancelButton {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .selectedFilters {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .selectedFiltersContainer {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        row-gap: 6px;
        column-gap: 16px;
    }

    .selectedFiltersTitle {
        font-size: 20px;
        line-height: 23px;
    }
}