.employeeCard {
    padding-top: 12px;
}

.employeeCardHeader {
    display: flex;
    gap: 16px;
}

.name {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.position {
    margin-top: 8px;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.stack {
    margin-top: 12px;
    display: flex;
    gap: 8px;
}

.technology {
    min-width: 60px;
    padding: 10px;

    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;

    background-color: #F2F2F2;
    border-radius: 5px;
}

[data-theme='dark'] {
    .technology {
        background-color: #3E3E3E;
    }
}

.divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
    margin: 40px 0;
}

.employeeMainInfo {
    margin-top: 40px;
    max-width: 478px;
    width: 100%;

    thead td {
        padding-bottom: 16px;

        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.avatar {
    width: 100px !important;
    height: 100px !important;
}

.phone,
.birthdate,
.dateOfEmployment {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;    

    td {
        padding-bottom: 12px;
    }

    td:first-child {
        font-weight: 500;   
    }
}

@media (min-width: 768px) {
    .employeeCard {
        padding-top: 12px;
    }

    .employeeCardHeader {
        gap: 42px;
    }

    .avatar {
        width: 163px !important;
        height: 163px !important;
    }

    .name {
        font-size: 40px;
        line-height: 47px;
    }

    .position {
        margin-top: 16px;
        margin-bottom: 24px;
    
        font-size: 24px;
        line-height: 28px;
    }

    .stack {
        margin-top: 0;
        gap: 16px;
    }
    
    .technology {
        min-width: 90px;
        padding: 10px 21px;
    
        font-size: 16px;
        line-height: 19px;
    }

    .employeeMainInfo thead td {
            padding-bottom: 32px;
    
            font-size: 32px;
            line-height: 38px;
    }

    .phone,
    .birthdate,
    .dateOfEmployment {
        font-size: 24px;
        line-height: 28px; 
    
        td {
            padding-bottom: 24px;
        }
    }
}