.filter h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.filterHeader {
    display: flex;
    justify-content: space-between;

    margin-bottom: 28px;
}

.selectedFiltersContainer {
    margin-top: 28px;
    background-color: #F2F2F2;

    & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.filterSelectsContainer {
    display: flex;
    gap: 32px;
}

.submitButton {
    background-color: #155DA4 !important;
    padding: 12px 48px !important;
    border-radius: 8px !important;
    color: #ffffff !important;
    font-family: var(--main-font) !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 21px !important;
    letter-spacing: 0.02em !important;
    text-align: left !important;
    &:hover {
        background-color: #092847 !important;
    }
}