.filter h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
}

.filterHeader {
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;
}

.selectedFiltersContainer {
    margin-top: 16px;
    background-color: #F2F2F2;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 16px;

        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.filterSelectsContainer {
    display: flex;
    gap: 12px;
}

.submitButton {
    background-color: #155DA4 !important;
    padding: 6px 48px !important;
    border-radius: 8px !important;
    color: #ffffff !important;
    font-family: var(--main-font) !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 16px !important;
    letter-spacing: 0.02em !important;
    text-align: left !important;
    &:hover {
        background-color: #092847 !important;
    }
}

@media (min-width: 768px) {
    .filter h2 {
        font-size: 40px;
        line-height: 47px;
    }

    .filterHeader {
        margin-bottom: 28px;
    }

    
    .filterSelectsContainer {
        gap: 32px;
    }

    .submitButton {
        padding: 12px 48px !important;
        font-size: 16px !important;
        line-height: 21px !important;
    }

    .selectedFiltersContainer {
        margin-top: 28px;
    
        & > div {
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            gap: 0;
    
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}