.breadcrumbs {
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--text) !important;
    background-color: var(--background-primary);
}

@media (min-width: 768px) {
    .breadcrumbs {
        padding-top: 28px;
        padding-bottom: 28px;

        font-size: 18px;
        line-height: 21px;
    }
}